_site
*.aux
*.log
*.out
*.toc
*.blg
*.bbl
*.bcf
*.xml
*.odt
*.docx
*.zip
*.log
*.lot
*.loft
*.lock
*~
*.~lock*
*.ini
audios/*/*_data
audios/*/*.aup
docs/*
software/*
videos/*
thesis-blx.bib
*synctex*
test
archive
.RData
.Rhistory
