---
sitemap:
  exclude: yes
---

@import "{{ site.theme }}";

a:hover {
  color: #f00 !important;
}

header ul {
  background: none;
  border: none;
}

header li {
  border: none;
}

table .left {
  text-align: left;
}

table .right {
  text-align: right;
}

table td {
  vertical-align: top;
}

table.ta1 tr:last-child td, td.ce3 {
  border-bottom: none;
}

table#glossary tr td:first-child {
  direction: rtl;
}

table#top30words {
  font-family:"Charis SIL"; 
  font-size:x-small;
}
