---
sitemap:
  exclude: yes
---

@import "{{ site.theme }}";

a:hover {
  color: #f00 !important;
}

header ul {
  background: none;
  border: none;
}

header li {
  border: none;
}

table .left {
  text-align: left;
}

table .right {
  text-align: right;
}

table td {
  vertical-align: top;
}

table.ta1 tr:last-child td, td.ce3 {
  border-bottom: none;
}

table#glossary tr td:first-child {
  direction: rtl;
}

table#top30words {
  font-family: Charis SIL;
  font-size: x-small;
}

table#properties .ce52 { font-family:Charis SIL; color:#ffffff; font-size:10pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
table#properties .ce53 { font-family:Charis SIL; vertical-align:top; color:#ffffff; font-size:10pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
table#properties .ce54 { font-family:Charis SIL; vertical-align:bottom; color:#ffffff; font-size:10pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
table#properties .ce55 { font-family:Charis SIL; vertical-align:middle; text-align:right ! important; margin-left:0mm; font-size:10pt; font-weight:bold; }
table#properties .ce56 { font-family:Charis SIL; background-color:#eeeeee; vertical-align:middle; text-align:right ! important; margin-left:0mm; font-size:10pt; font-weight:bold; }
table#properties .ce57 { font-family:Charis SIL; vertical-align:middle; text-align:right ! important; margin-left:0mm; font-size:10pt; font-weight:normal; }
table#properties .ce58 { font-family:Charis SIL; background-color:#eeeeee; vertical-align:middle; text-align:right ! important; margin-left:0mm; font-size:10pt; font-weight:normal; }
table#properties .ce59 { font-family:Charis SIL; background-color:#eeeeee; vertical-align:middle; text-align:right ! important; margin-left:0mm; font-size:10pt; font-weight:normal; }
table#properties .ce60 { font-family:Charis SIL; font-size:10pt; }
table#properties .ce61 { font-family:Charis SIL; font-size:10pt; }
table#properties .ce62 { font-family:Charis SIL; vertical-align:top; font-size:10pt; }
table#properties .ce63 { font-family:Charis SIL; vertical-align:bottom; font-size:10pt; }
table#properties .ce64 { font-family:Arabic Typesetting; padding-bottom:0.35mm; padding-left:0.35mm; padding-right:1.01mm; padding-top:0.35mm; vertical-align:middle; text-align:right ! important; margin-left:0mm; font-size:15pt; font-style:normal; font-weight:normal; }
table#properties .ce65 { font-family:Arabic Typesetting; background-color:#eeeeee; padding-bottom:0.35mm; padding-left:0.35mm; padding-right:1.01mm; padding-top:0.35mm; vertical-align:middle; text-align:right ! important; margin-left:0mm; font-size:15pt; font-style:normal; font-weight:normal; }
table#properties .ce66 { font-family:Charis SIL; background-color:#eeeeee; padding-bottom:0.35mm; padding-left:0.35mm; padding-right:1.01mm; padding-top:0.35mm; vertical-align:middle; text-align:right ! important; margin-left:0mm; font-size:10pt; font-style:italic; font-weight:normal; }
table#properties .ce67 { font-family:Charis SIL; background-color:#eeeeee; padding-bottom:0.35mm; padding-left:0.35mm; padding-right:1.01mm; padding-top:0.35mm; vertical-align:middle; text-align:right ! important; margin-left:0mm; font-size:10pt; font-style:italic; font-weight:normal; }
table#properties .ce68 { font-family:Charis SIL; background-color:#99ff66; vertical-align:middle; text-align:center ! important; margin-left:0mm; font-size:10pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
table#properties .ce69 { font-family:Charis SIL; background-color:#99ff66; vertical-align:top; text-align:left ! important; margin-left:0mm; font-size:10pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
table#properties .ce70 { font-family:Charis SIL; background-color:#99ff66; vertical-align:bottom; text-align:right ! important; margin-left:0mm; font-size:10pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
table#properties .ce71 { background-color:#99ff66; vertical-align:middle; text-align:center ! important; font-size:10pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
table#properties .ce72 { background-color:#99ff66; vertical-align:middle; text-align:center ! important; font-size:10pt; font-weight:normal; }
table#properties .ce73 { vertical-align:middle; text-align:center ! important; font-size:10pt; font-weight:normal; }
table#properties .ce74 { background-color:#eeeeee; vertical-align:middle; text-align:center ! important; font-size:10pt; font-weight:normal; }
table#properties .ce75 { background-color:#99ff66; vertical-align:middle; text-align:center ! important; font-size:10pt; font-weight:normal; }
table#properties .ce76 { font-family:Charis SIL; background-color:#99ff66; vertical-align:middle; text-align:center ! important; margin-left:0mm; font-size:10pt; font-style:normal; }
table#properties .ce77 { font-family:Charis SIL; background-color:#99ff66; vertical-align:top; text-align:left ! important; margin-left:0mm; font-size:10pt; font-style:normal; }
table#properties .ce78 { font-family:Charis SIL; background-color:#99ff66; vertical-align:bottom; text-align:right ! important; margin-left:0mm; font-size:10pt; font-style:normal; }
table#properties .ce79 { background-color:#eeeeee; vertical-align:middle; text-align:center ! important; font-size:10pt; font-weight:normal; }
table#properties .ce80 { font-family:Charis SIL; background-color:#ccff66; vertical-align:middle; text-align:center ! important; margin-left:0mm; font-size:10pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
table#properties .ce81 { font-family:Charis SIL; background-color:#ccff66; vertical-align:top; text-align:left ! important; margin-left:0mm; font-size:10pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
table#properties .ce82 { font-family:Charis SIL; background-color:#ccff66; vertical-align:bottom; text-align:right ! important; margin-left:0mm; font-size:10pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
table#properties .ce83 { background-color:#ccff66; vertical-align:middle; text-align:center ! important; font-size:10pt; font-weight:normal; }
table#properties .ce84 { background-color:#ccff66; vertical-align:middle; text-align:center ! important; font-size:10pt; font-weight:normal; }
table#properties .ce85 { font-family:Charis SIL; background-color:#ccff66; vertical-align:middle; text-align:center ! important; margin-left:0mm; font-size:10pt; font-style:normal; }
table#properties .ce86 { font-family:Charis SIL; background-color:#ccff66; vertical-align:top; text-align:left ! important; margin-left:0mm; font-size:10pt; font-style:normal; }
table#properties .ce87 { font-family:Charis SIL; background-color:#ccff66; vertical-align:bottom; text-align:right ! important; margin-left:0mm; font-size:10pt; font-style:normal; }
table#properties .ce88 { font-family:Charis SIL; background-color:#99ff66; vertical-align:middle; text-align:center ! important; margin-left:0mm; font-style:normal; }
table#properties .ce89 { font-family:Charis SIL; background-color:#99ff66; vertical-align:top; text-align:left ! important; margin-left:0mm; font-style:normal; }
table#properties .ce90 { font-family:Charis SIL; background-color:#99ff66; vertical-align:bottom; text-align:right ! important; margin-left:0mm; font-style:normal; }
table#properties .ce91 { font-family:Charis SIL; font-size:10pt; }
table#properties .ce92 { font-family:Charis SIL; vertical-align:top; font-size:10pt; }
table#properties .ce93 { font-family:Charis SIL; vertical-align:bottom; font-size:10pt; }
table#properties .ce94 { font-family:Charis SIL; font-size:10pt; font-weight:normal; }
