---
sitemap:
  exclude: yes
---

@import "{{ site.theme }}";

a:hover {
  color: #f00 !important;
}

header ul {
  background: none;
  border: none;
}

header li {
  border: none;
}

table#glossary tr td:first-child {
  direction: rtl;
}
